<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>full-screen-sample-1</string>
		<key>imageName</key>
		<string>full-screen-sample-1.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-2</string>
		<key>imageName</key>
		<string>full-screen-sample-2.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-3</string>
		<key>imageName</key>
		<string>full-screen-sample-3.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-4</string>
		<key>imageName</key>
		<string>full-screen-sample-4.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-5</string>
		<key>imageName</key>
		<string>full-screen-sample-5.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-6</string>
		<key>imageName</key>
		<string>full-screen-sample-6.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-7</string>
		<key>imageName</key>
		<string>full-screen-sample-7.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-8</string>
		<key>imageName</key>
		<string>full-screen-sample-8.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-9</string>
		<key>imageName</key>
		<string>full-screen-sample-9.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>full-screen-sample-10</string>
		<key>imageName</key>
		<string>full-screen-sample-10.jpg</string>
	</dict>
</array>
</plist>
