<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_TIME</key>
	<string>2023-03-19T15:07:49+0800</string>
	<key>GIT_SHA</key>
	<string>73dbb93</string>
	<key>TOTAL_CODE_NUM</key>
	<string>2178758</string>
	<key>TOTAL_FILE_NUM</key>
	<string>77706</string>
	<key>{cpp}_CODE_NUM</key>
	<string>54651</string>
	<key>{cpp}_FILE_NUM</key>
	<string>317</string>
	<key>{c}_CODE_NUM</key>
	<string>24215</string>
	<key>{c}_FILE_NUM</key>
	<string>42</string>
	<key>{h}_CODE_NUM</key>
	<string>441654</string>
	<key>{h}_FILE_NUM</key>
	<string>6064</string>
	<key>{java}_CODE_NUM</key>
	<string>133423</string>
	<key>{java}_FILE_NUM</key>
	<string>1163</string>
	<key>{js}_CODE_NUM</key>
	<string>775987</string>
	<key>{js}_FILE_NUM</key>
	<string>28422</string>
	<key>{mm}_CODE_NUM</key>
	<string>38450</string>
	<key>{mm}_FILE_NUM</key>
	<string>171</string>
	<key>{m}_CODE_NUM</key>
	<string>638612</string>
	<key>{m}_FILE_NUM</key>
	<string>3821</string>
	<key>{py}_CODE_NUM</key>
	<string>33962</string>
	<key>{py}_FILE_NUM</key>
	<string>51</string>
	<key>{swift}_CODE_NUM</key>
	<string>37804</string>
	<key>{swift}_FILE_NUM</key>
	<string>196</string>
</dict>
</plist>
